h1 {
	color:#0000ff;
	font-family:"Courier New";
	font-size:40;
	text-align:center;
}
h2 {
	color:#0000ff;
	font-family:"Courier New";
	font-size:40;
	text-align:center;
}

.hdl {
	color:#0e8466;
	font-family:Arial;
	font-size:30;
	font-style:bold;
	width:250;
}